* {
  border: 0px;
  margin: 0px;
}

body {
  font-family: 'ARIAL', monospace;
  background-color: #999999;
  background-image: url('https://www.proteste.org.br/-/media/proteste/images/home/dinheiro/cambio/pim-cambio.jpg?rev=0b724b00-a190-40f9-8ad5-d9752e120404');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  font-size: 60%;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  font-size: 40px;
  color: #ffffff;
  margin: 0 0 5px;
}


.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
}

#conversor {
  width: 100vw;
  text-align: center;
  margin-top: 200px;
}

#conversor form {
  max-width: 600px;

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

select,
input {
  border-radius: 4px;
  padding: 10px;
  border-color: rgba(0, 0, 0, 0.6);
  border-style: groove;
  border-top: 3px;
  border-left: 3px;
}

#convertido {
  width: 200px;
}

.buttonConvert button {
  color: black;
  background: gold;
  width: 100px;
  height: 40px;
  border-radius: 9px;
  margin-top: 25px;

}
